{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Borrow {{ material }}{% endblock %}

{% block content %}
  <h1>Borrow {{ material }}?</h1>
  <p>Do you want to borrow {{ material }}?</p>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="submit" value="Yes, borrow" name="yes" class="btn btn-secondary">
    <input type="submit" value="No, go back" name="no" class="btn btn-primary">
    {% endbuttons %}
  </form>
{% endblock %}
