{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Borrow {{ material }}{% endblock %}

{% block content %}
  <h1>Borrow {{ material }}?</h1>
  <p>Do you want to borrow {{ material }}?</p>
  <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <div>
      <input type="button" value="No, go back" name="no" class="btn btn-secondary" onclick="history.back()">
      <input type="submit" value="Yes, borrow" name="yes" class="btn btn-primary">
    </div>
  </form>
{% endblock %}
