{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Return {{ material }}{% endblock %}

{% block content %}
  <h1>Return {{ material }}?</h1>
  <p>Do you want to return {{ material }}?</p>
  <p>IMPORTANT: Only do this when you physically return the material! Not anytime before!</p>
  <form method="post">
    {% csrf_token %}
    <div>
      <input type="button" value="No, go back" name="no" class="btn btn-secondary" onclick="history.back()">
      <input type="submit" value="Yes, return {{ material }}" name="yes" class="btn btn-primary">
    </div>
  </form>
{% endblock %}
