{% extends "base.html" %}
{% load static %}
{% load matman_tags %}
{% load crispy_forms_tags %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>
<link href="{% static "css/autocomplete.css" %}" rel="stylesheet">
<script defer>
    window.onload = function() {
        suggest_user(document.getElementById("id_borrowed_by"));
    };
</script>
{% endblock %}

{% block title %}Quick borrow/return{% endblock %}

{% block content %}
  <h1>Quick borrow/return</h1>
<!--  <p>Do you want to borrow {{ material }}?</p>-->
    {% crispy form %}
{% endblock %}
