{% extends "base.html" %}
{% load static %}
{% load matman_tags %}

{% block title %}My Materials{% endblock %}
{% block scripts %}
<!--<script type="text/javascript" src="{% static "js/tables.js" %}" defer></script>-->
<script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>
<link href="{% static "css/autocomplete.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>My Materials</h1>
<div class="accordion" id="id_item_accordion">
    {% for name, rubric in rubrics.items %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="id_accordion_header_{{ name }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#id_collapse_{{ name }}" aria-expanded="true" aria-controls="collapse_{{ name }}">
                {{ rubric.title }} ({{ rubric.total }})
            </button>
        </h2>
        <div id="id_collapse_{{ name }}" class="accordion-collapse collapse {% if rubric.is_open %}show{% endif %}" aria-labelledby="collapse_{{ name }}">
            <div class="accordion-body">
                <table class="table table-striped table-hover sortable-table" id="material_table_{{ name }}">
                    <tr>
                        {% sortable_fields as fs %}
                        {% for slug,title in fs %}
                        <th>

                            <a id="id_{{ name }}_orderby_{{ slug }}"
                               {% if rubric.orderby == slug and rubric.direction == 'asc' %}
                               href="{% update_params name|add:"_orderby" slug name|add:"_direction" "desc"  %}"
                               {% else %}
                               href="{% update_params name|add:"_orderby" slug name|add:"_direction" "asc"  %}"
                               {% endif %}
                            onclick="checkCollapsables(this)" >
                                <span>{{ title }}</span>
                                {% if rubric.orderby == slug %}
                                {% if rubric.direction == 'desc' %}
                                <svg class="bi flex-1" role="img" aria-label="Info:"><use xlink:href="#symbol-decending"/></svg>
                                {% else %}
                                <svg class="bi flex-1" role="img" aria-label="Info:"><use xlink:href="#symbol-ascending"/></svg>
                                {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        {% endfor %}
                        <th>Tags</th>
                    </tr>
                    {% for object in rubric.page %}
                    <tr>
                        <th><a href="{% url "material-detail" object.identifier %}">{{ object.identifier }}</a></th>
                        <td><a href="{% url "profile" object.owner %}">{{ object.owner }}</a></td>
                        <td>{{ object.serial_number }}</td>
                        <td>{{ object.material_number }}</td>
                        <td>{{ object.manufacturer }}</td>
                        <td>{{ object.location }}</td>
                        <td>
                            {% for tag in object.tags.all %}
                            <a href="{% url "list-material" %}?tags__name={{ tag }}" class="badge text-bg-light">{{ tag }}</a>
                            {% endfor %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td>None</td></tr>
                    {% endfor %}
                </table>
                {% include "pagination.html" with page_obj=rubric.page page_param=name|add:"_page" %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}


