{% extends "base.html" %}
{% load matman_tags %}

{% block title %}My Materials{% endblock %}

{% block content %}
<h1>My Materials</h1>
<section>
    <h1>Materials I have currently borrowed ({{ borrowed| length }})</h1>
    <section>
        <table>
            <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Serial Number</th>
                <th>Material Number</th>
                <th>Manufacturer</th>
                <th>Department</th>
                <th>Location</th>
                <th>Tags</th>
            </tr>
            {% for object in borrowed %}
            <tr>
                <th><a href="{% url "material-detail" object.identifier %}">{{ object.identifier }}</a></th>
                <td><a href="{% url "profile" object.owner %}">{{ object.owner }}</a></td>
                <td>{{ object.serial_number }}</td>
                <td>{{ object.material_number }}</td>
                <td>{{ object.manufacturer }}</td>
                <td>{{ object.department }}</td>
                <td>{{ object.location }}</td>
                <td>{{ object.tags.all|join:", " }}</td>
            </tr>
            {% empty %}
            <tr><td>None</td></tr>
            {% endfor %}
        </table>
    </section>
    <div class="pagination">
        <span class="step-links">
            {% if borrowed.has_previous %}
                <a href="?borrowed_page=1">&laquo; first</a>
                <a href="?borrowed_page={{ borrowed.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ borrowed.number }} of {{ borrowed.paginator.num_pages }}.
            </span>
    
            {% if borrowed.has_next %}
                <a href="?borrowed_page={{ borrowed.next_page_number }}">next</a>
                <a href="?borrowed_page={{ borrowed.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
<section>
    <h1>Materials currently borrowed from me ({{ lent| length }})</h1>
    <section>
        <table>
            <tr>
                <th>ID</th>
                <th>Borrowed By</th>
                <th>Serial Number</th>
                <th>Material Number</th>
                <th>Manufacturer</th>
                <th>Department</th>
                <th>Location</th>
                <th>Tags</th>
            </tr>
            {% for object in lent %}
            <tr>
                <th><a href="{% url "material-detail" object.identifier %}">{{ object.identifier }}</a></th>
                {% with by=object.get_active_borrow.borrowed_by %}
                <td><a href="{% url "profile" by %}">{{ by }}</a></td>
                {% endwith %}
                <td>{{ object.serial_number }}</td>
                <td>{{ object.material_number }}</td>
                <td>{{ object.manufacturer }}</td>
                <td>{{ object.department }}</td>
                <td>{{ object.location }}</td>
                <td>{{ object.tags.all|join:", " }}</td>
            </tr>
            {% empty %}
            <tr><td>None</td></tr>
            {% endfor %}
        </table>
    </section>
    <div class="pagination">
        <span class="step-links">
            {% if lent.has_previous %}
                <a href="?lent_page=1">&laquo; first</a>
                <a href="?lent_page={{ lent.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ lent.number }} of {{ lent.paginator.num_pages }}.
            </span>
    
            {% if lent.has_next %}
                <a href="?lent_page={{ lent.next_page_number }}">next</a>
                <a href="?lent_page={{ lent.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
<section>
    <h1>Materials I own ({{ my_materials| length }})</h1>
    <section>
        <table>
            <tr>
                <th>ID</th>
                <th>Serial Number</th>
                <th>Material Number</th>
                <th>Manufacturer</th>
                <th>Department</th>
                <th>Location</th>
                <th>Owner</th>
                <th>Tags</th>
            </tr>
            {% for object in my_materials %}
            <tr>
                <th><a href="{% url "material-detail" object.identifier %}">{{ object.identifier }}</a></th>
                <td>{{ object.serial_number }}</td>
                <td>{{ object.material_number }}</td>
                <td>{{ object.manufacturer }}</td>
                <td>{{ object.department }}</td>
                <td>{{ object.location }}</td>
                <td>{{ object.owner }}</td>
                <td>{{ object.tags.all|join:", " }}</td>
            </tr>
            {% empty %}
            <tr><td>None</td></tr>
            {% endfor %}
        </table>
    </section>
    <div class="pagination">
        <span class="step-links">
            {% if my_materials.has_previous %}
                <a href="?my_materials_page=1">&laquo; first</a>
                <a href="?my_materials_page={{ my_materials.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ my_materials.number }} of {{ my_materials.paginator.num_pages }}.
            </span>
    
            {% if my_materials.has_next %}
                <a href="?my_materials_page={{ my_materials.next_page_number }}">next</a>
                <a href="?my_materials_page={{ my_materials.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock %}