{% extends "base.html" %}
{% load matman_tags %}

{% block title %}Material{% endblock %}

{% block content %}
<h1>Materials</h1>
<p>
    <a href="{% url "add-material" %}" class="btn btn-outline-primary" aria-current="page">
        <svg class="bi flex-1" role="img" aria-label="Info:"><use xlink:href="#plus"/></svg>
        Add Material
    </a>
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Serial Number</th>
        <th>Material Number</th>
        <th>Manufacturer</th>
        <th>Department</th>
        <th>Location</th>
        <th>Owner</th>
        <th>Tags</th>
        <th></th>
    </tr>
    {% for object in object_list %}
    <tr>
        <th><a href="{% url "material-detail" object.identifier %}">{{ object.identifier }}</a></th>
        <td>{{ object.serial_number }}</td>
        <td>{{ object.material_number }}</td>
        <td>{{ object.manufacturer }}</td>
        <td>{{ object.department }}</td>
        <td>{{ object.location }}</td>
        <td><a href="{% url "profile" object.owner %}">{{ object.owner }}</a></td>
        <td>{{ object.tags.all|join:", " }}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg class="bi flex-shrink-0" role="img" aria-label="Info:"><use xlink:href="#three-dots"/></svg>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url "material-edit" object.identifier %}">Edit</a></li>
                  <li><a class="dropdown-item" href="{% url "add-material" %}?reference={{ object.identifier }}">Copy/Clone</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% include "pagination.html" with page_param="page" %}
{% endblock %}