{% extends "base.html" %}
{% load static %}
{% load matman_tags %}
{% load crispy_forms_tags %}

{% block title %}Edit Material{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/autocomplete.js" %}" defer></script>
<script type="text/javascript" src="{% static "js/dynamic_formset.js" %}" defer></script>
<link href="{% static "css/autocomplete.css" %}" rel="stylesheet">
<script defer>
    window.onload = function() {
        suggest_tags(document.getElementById("id_tags"));
    };
</script>
{% init_mde "id_description" %}
{% endblock %}

{% block content %}
<h1>Edit material {{ object }}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
    <h3>Pictures</h3>
    <div class="drag-container">
        {% crispy formset formset_helper %}
    </div>
    <button type="button" name="add" class="btn btn-outline-primary m-1" id="add-more">
        <svg class="bi flex-1" role="img" aria-label="Info:"><use xlink:href="#symbol-plus"/></svg>
        <span>Add Picture</span>
    </button>
    <div class="form-buttons m-1">
        <button id="buttonSave" type="submit" value="Save" name="save" class="btn btn-primary" onclick="this.classList.add('loading')">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <svg class="bi flex-1" role="img" aria-label="Info:"><use xlink:href="#symbol-save"/></svg>
            <span class="button-text">Save</span>
        </button>
    </div>
</form>
{% endblock %}