{% extends "base.html" %}
{% load matman_tags %}

{% block title %}Material Details{% endblock %}

{% block content %}
<h1>{{ object }}</h1>
<section>
    {% include "matman/slideshow.html" with pictures=object.pictures %}
    <table class="vertical-table">
        <tr>
            <th>Serial Number:</th>
            <td>{{ object.serial_number }}</td>
        </tr>
        <tr>
            <th>Material Number:</th>
            <td>{{ object.material_number }}</td>
        </tr>
        <tr>
            <th>Manufacturer:</th>
            <td>{{ object.manufacturer }}</td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>{{ object.location }}</td>
        </tr>
        <tr>
            <th>Owner:</th>
            <td><a href="{% url "profile" object.owner %}">{{ object.owner }}</a></td>
        </tr>
        <tr>
            <th>Tags:</th>
            <td>{{ object.tags.all|join:", " }}</td>
        </tr>
        <tr>
            <th>Active:</th>
            <td>{{ object.is_active }}</td>
        </tr>
        {% with borrow=object.get_active_borrow %}
        <tr>
            <th>Borrowed by:</th>
            {% if borrow %}
            <td><a href="{% url "profile" borrow.borrowed_by %}">{{ borrow.borrowed_by }}</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        <tr>
            <th>Borrowed at:</th>
            <td>{{ object.get_active_borrow.borrowed_at|date }}</td>
        </tr>
        {% endwith %}
    </table>
    <h2>Description</h2>
        <section class="descriptionbox">
            {{ object.description|markdown }}
        </section>
    <p><a class="button" href="{% url "material-edit" object.identifier %}">Edit</a></p>
</section>


{% if object.owner != user and not object.get_active_borrow %}
<p><a class="button" href="{% url "borrow" object.identifier %}">Borrow</a></p>
{% endif %}
{% if object.get_active_borrow.borrowed_by == user %}
<p><a class="button" href="{% url "return" object.identifier %}">Return</a></p>
{% endif %}
{% endblock %}