{% extends "base.html" %}
{% load matman_tags %}

{% block title %}Schemes{% endblock %}

{% block content %}
<h1>Schemes</h1>
<p>
    <a href="{% url "add-scheme" %}" class="btn btn-outline-primary" aria-current="page">
        <svg class="bi flex-1" role="img" aria-label="Info:"><use xlink:href="#plus"/></svg>
        Add Scheme
    </a>
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Prefix</th>
        <th>Numlen</th>
        <th>Potfix</th>
    </tr>
    {% for object in object_list %}
    <tr>
        <th><a href="{% url "edit-scheme" object.id %}">{{ object.name }}</a></th>
        <td>{{ object.description }}</td>
        <td>{{ object.prefix }}</td>
        <td>{{ object.numlen }}</td>
        <td>{{ object.postfix }}</td>
    </tr>
    {% endfor %}
</table>
{% include "pagination.html" with page_param="page" %}

{% endblock %}