{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Add Material{% endblock %}

{% block content %}
<h1>Edit scheme {{ object.name }}</h1>
<table>
    <tr>
        <th>Prefix:</th>
        <td>{{ object.prefix }}</td>
    </tr>
    <tr>
        <th>Numlen:</th>
        <td>{{ object.numlen }}</td>
    </tr>
    <tr>
        <th>Postfix:</th>
        <td>{{ object.postfix }}</td>
    </tr>
</table>
<form method="post">
     {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="submit" value="Update" class="btn btn-primary">
    {% endbuttons %}
</form>
{% endblock %}