# Example of .env file for docker compose

DJANGO_SETTINGS_MODULE=matman.settings.production

POSTGRES_DB_HOST=db
POSTGRES_DB_NAME=matman
POSTGRES_USER=matman
POSTGRES_PASSWORD=CHANGEME

TIME_ZONE=GMT

SECRET_KEY=CHANGEME

ALLOW_REGISTRATION=true
ALLOW_CHANGE_PASSWORD=true
ALLOW_RESET_PASSWORD=true

EMAIL_USE_TLS=true
EMAIL_HOST=CHANGEME
EMAIL_PORT=587
EMAIL_HOST_USER=CHANGEME
EMAIL_HOST_PASSWORD=CHANGEME

CELERY_BROKER='redis://redis:6379/0'
CELERY_BACKEND='redis://redis:6379/0'

CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SECURE=True
SECURE_SSL_REDIRECT=True
