{% extends "base.html" %}
{% load matman_tags %}
{% load crispy_forms_tags %}

{% block scripts %}
{% init_mde "id_notes" %}
{% endblock %}

{% block title %}Borrow {{ item }}{% endblock %}

{% block content %}
  <h1>Borrow {{ item }}?</h1>
  <p>Do you want to borrow {{ item }}?</p>
<form method="post">
  {% csrf_token %}
  {% crispy form %}
  <button type="button" class="btn btn-outline-secondary" onclick="history.back()">
    <i class="bi bi-arrow-left-square"></i>
    <span>Go back</span>
  </button>
  <button type=submit" class="btn btn-primary">
    <i class="bi bi-cart2"></i>
    <span>Borrow</span>
  </button>
</form>
{% endblock %}
