{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Return {{ material }}{% endblock %}

{% block content %}
<h1>Return {{ material }}?</h1>
<p>Do you want to return {{ material }}?</p>
<p>IMPORTANT: Only do this when you physically return the material! Not anytime before!</p>
<form method="post">
  {% csrf_token %}
  {% crispy form %}
  <button type="button" class="btn btn-outline-secondary" onclick="history.back()">
    <i class="bi bi-arrow-left-square"></i>
    <span>Go back</span>
  </button>
  <button type=submit" class="btn btn-primary">
    <i class="bi bi-arrow-counterclockwise"></i>
    <span>Return & Close</span>
  </button>
</form>
{% endblock %}
