{% load matman_tags %}
<div class="toast show my-1 w-100" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <i class="bi bi-pencil-square"></i>
    <strong class="me-auto">Comment by <a href="{% url "profile" comment.author %}">{{ user.username }}</a></strong>
    <small class="mx-2">
      {{ comment.creation_date|date:"D y-m-d H:m" }}
      {% if comment.history.first != comment.history.last %}
      (edited)
      {% endif %}
    </small>
    <div class="dropdown">
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ comment.get_absolute_url }}">Edit</a></li>
        <li><a class="dropdown-item disabled" href="">History</a></li>
      </ul>
    </div>
  </div>
  <div class="toast-body">
    {{ comment.text|markdown }}
  </div>
</div>
