{% load matman_tags %}
 <table class="table table-striped table-hover sortable-table" id="item_table_{{ prefix }}">
    <tr>
        {% sortable_fields as fs %}
        {% for slug,title in fs %}
        <th>
            <a id="id_{{ prefix }}orderby_{{ slug }}"  class="link-secondary"
               {% if orderby == slug and direction == 'asc' %}
               href="{% update_params prefix|add:"orderby" slug prefix|add:"direction" "desc"  %}"
               {% else %}
               href="{% update_params prefix|add:"orderby" slug prefix|add:"direction" "asc"  %}"
               {% endif %}
            onclick="checkCollapsables(this)" >
                <span>{{ title }}</span>
                {% if orderby == slug %}
                {% if direction == 'desc' %}
                <i class="bi bi-caret-down-fill"></i>
                {% else %}
                <i class="bi bi-caret-up-fill"></i>
                {% endif %}
                {% endif %}
            </a>
        </th>
        {% endfor %}
        <th>Tags</th>
        <th>Active</th>
        <th></th>
    </tr>
    {% for object in object_list %}
    <tr>
        <th><a href="{% url "item-detail" object.identifier %}" class="link-primary">{{ object.identifier }}</a></th>
        <td>{{ object.short_text }}</td>
        <td>{{ object.serial_number }}</td>
        <td>{{ object.part_number }}</td>
        <td>{{ object.manufacturer }}</td>
        <td>{{ object.location }}</td>
        <td>
            {% if object.owner %}
            <a href="{% url "profile" object.owner %}" class="link-primary">{{ object.owner }}</a>
            {% endif %}
        </td>
        <td>
            {% for tag in object.tags.all %}
            <a href="{% url "list-item" %}?tags__name={{ tag }}" class="badge text-bg-light">{{ tag }}</a>
            {% endfor %}
        </td>
        <td>{% bool_icon object.is_active %}</td>
        <td class="d-flex flex-row">
            <div class="dropdown p-1">
                <button class="btn btn-outline-secondary m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
                </button>
                <ul class="dropdown-menu">
                    {% if not object.is_borrowed %}
                    <li><a class="dropdown-item" href="{% url "borrow" object.identifier %}">Borrow</a></li>
                    {% elif object.borrowed_by == request.user %}
                    <li><a class="dropdown-item" href="{% url "return" object.get_active_borrow.pk %}">Return</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url "item-edit" object.identifier %}">Edit</a></li>
                    <li><a class="dropdown-item" href="{% url "add-item" %}?reference={{ object.identifier }}">Copy/Clone</a></li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            {% if object in bookmarked %}
            <button class="btn btn-outline-secondary m-1" type="button" title="Bookmarked" value="{{ object.identifier }}" id="id_button_bookmark_{{ object.identifier }}" onclick="toggle_bookmark(this)">
                <i class="bi bi-bookmark-check-fill"></i>
            </button>
            {% else %}
            <button class="btn btn-outline-secondary m-1" type="button" title="Bookmark" value="{{ object.identifier }}" id="id_button_bookmark_{{ object.identifier }}" onclick="toggle_bookmark(this)">
                <i class="bi bi-bookmark"></i>
            </button>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr><td>None</td></tr>
    {% endfor %}
</table>
{% include "pagination.html" with page_obj=page prefix=prefix onclick="checkCollapsables(this)" %}