{% extends "base.html" %}
{% load static %}
{% load matman_tags %}
{% load crispy_forms_tags %}

{% block title %}New Item{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/dynamic_formset.js" %}" defer></script>
<script type="text/javascript" src="{% static "js/autocomplete.js" %}" defer></script>
<script defer>
    window.onload = function() {
        suggest_tags(document.getElementById("id_tags"));
    };
</script>
{% init_mde "id_description" %}
{% endblock %}

{% block content %}
<h1>
    New Item
    <a class="btn btn-outline-secondary float-end" href="{% url "item-csv-import" %}">
        <i class="bi bi-box-arrow-in-down"></i>
        Import CSV
    </a>
</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
    <h3>Pictures</h3>
    <div class="drag-container">
        {% crispy formset formset_helper %}
    </div>
    <button type="button" name="add" class="btn btn-outline-primary m-1" id="add-more">
        <i class="bi bi-plus-square"></i>
        Add Picture
    </button>
    <div class="form-buttons m-1">
        <button id="buttonSave" type="submit" value="Save" name="save" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <i class="bi bi-save2"></i>
            <span class="button-text">Save</span>
        </button>
        <button id="buttonAddAnother" type="submit" value="Save and add another" name="add_other" class="btn btn-secondary" >
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <i class="bi bi-save2"></i>
            <span class="button-text">Save and add another</span>
        </button>
    </div>
</form>
{% endblock %}