{% extends "base.html" %}
{% load static %}
{% load matman_tags %}
{% load crispy_forms_tags %}

{% block title %}Item{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>
<script defer>
    window.onload = function() {
        suggest_tags(document.getElementById("id_tags__name"));
    };
</script>
{% endblock %}

{% block content %}
<h1>Items</h1>
{% crispy form %}

{% include "items/item_table.html" with prefix="" orderby=orderby direction=direction page=page_obj object_list=object_list %}
{% csrf_token %}
{% endblock %}