{% extends "base.html" %}
{% load static %}
{% load matman_tags %}
{% load crispy_forms_tags %}

{% block title %}Material{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>
<link href="{% static "css/autocomplete.css" %}" rel="stylesheet">
<script defer>
    window.onload = function() {
        suggest_tags(document.getElementById("id_tags__name"));
    };
</script>
{% endblock %}

{% block content %}
<h1>Materials</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filters
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form method="get">
          {{ filterset.form|crispy }}
          <button type="submit" class="btn btn-primary">
              <i class="bi bi-search"></i>
              <span>Search</span>
          </button>
          <button href="{% url "list-material" %}" class="btn btn-secondary">
              <i class="bi bi-arrow-counterclockwise"></i>
              <span>Reset</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% include "items/material_table.html" with prefix="" orderby=orderby direction=direction page=page object_list=object_list %}
{% csrf_token %}
{% endblock %}