{% extends "base.html" %}
{% load static %}
{% load matman_tags %}

{% block title %}My Materials{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>
{% endblock %}

{% block content %}
{% if is_home %}
<h1>My Materials</h1>
{% else %}
<h1>{{ user }}'s Profile</h1>
{% endif %}
<div class="accordion" id="id_item_accordion">
    {% for name, rubric in rubrics.items %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="id_accordion_header_{{ name }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id_collapse_{{ name }}" aria-expanded="false" aria-controls="collapse_{{ name }}">
                {{ rubric.title }} ({{ rubric.total }})
            </button>
        </h2>
        <div id="id_collapse_{{ name }}" class="accordion-collapse collapse {% if rubric.is_open %}show{% endif %}" aria-labelledby="collapse_{{ name }}">
            <div class="accordion-body">
                {% include "items/material_table.html" with prefix=name|add:"_" orderby=rubric.orderby direction=rubric.direction page=rubric.page_obj object_list=rubric.object_list %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}


