{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Material{% endblock %}

{% block content %}
<h1>Edit scheme {{ object.name }}</h1>
<table class="table d-inline-flex my-3">
    <tr>
        <th>Prefix</th>
        <th>Numlen</th>
        <th>Postfix</th>
    </tr>
    <tr>
        <td>{{ object.prefix }}</td>
        <td>{{ object.numlen }}</td>
        <td>{{ object.postfix }}</td>
    </tr>
</table>

<form method="post">
{% crispy form %}
<div class="form-buttons m-1">
    <button id="buttonSave" type="submit" value="Save" name="save" class="btn btn-primary" onclick="this.classList.add('loading')">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <i class="bi bi-save2"></i>
        <span class="button-text">Save</span>
    </button>
</div>
</form>
{% endblock %}