{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Material{% endblock %}

{% block content %}
<h1>Create new Scheme</h1>
<form method="post">
{% csrf_token %}
{% crispy form %}
<div class="form-buttons m-1">
    <button id="buttonSave" type="submit" value="Save" name="save" class="btn btn-primary" onclick="this.classList.add('loading')">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <i class="bi bi-save2"></i>
        <span class="button-text">Create</span>
    </button>
</div>
</form>
{% endblock %}