{% load static %}
<div id="itemCarousel" class="carousel slide bg-dark justify-content-center p-3" data-bs-ride="true">
  <div class="carousel-indicators">
    {% for picture in pictures.all %}
    <button type="button" data-bs-target="#itemCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if not forloop.counter0 %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for picture in pictures.all %}
    <div class="carousel-item{% if not forloop.counter0 %} active{% endif %}">
      <img src="{{ picture.file.url }}" class="d-block mx-auto" alt="{{ picture.description }} d-inline-flex">
      <div class="carousel-caption d-none d-md-block">
        <div>
          <div><h5 class="bg-dark d-inline-flex rounded px-2">{{ picture.title }}</h5></div>
          <div><p class="bg-dark d-inline-flex rounded px-2">{{ picture.description }}</p></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#itemCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#itemCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
