
.carousel-item img {
    max-height: 70vh;
    max-width: 100%;
}

body {
/* background-color: rgb(53, 255, 60); */
}

/* Style for the loading spinners */

.btn {
    position: relative;
}

.btn .spinner-border {
    visibility: hidden;
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
}

.loading .spinner-border {
    visibility: visible;
    opacity: 100%;
    content: "";
    position: absolute;
}

.loading .button-text {
    visibility: hidden;
    opacity: 0;
}

dragging {
    opacity: 50%;
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    left: 0;
    right: 0;
}