@import url(//fonts.googleapis.com/css?family=Muli);

:root {
  /* --blue: #1e90ff; */
  --white: #ffffff;
  --grey: #bbb;
  --grey2: #ccc;
  --dark_grey: #333;
  --green1: #1cdf78;
  --green2: #12c064;
  --green3: #00a74f;
  --green4: #1b6d32;
  --citrus: #f3f7cc;
  --red_error: #cc0033;
}

.button {
    block:True;
    border-radius: 5px;
}

.descriptionbox {
    border-radius: 5px;
    padding:10px;
    border: 1px solid black;
}

.vertical-table tr th{
    text-align:left;
}

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}

p {
    line-height: 1.8;
}

a {
    color:var(--green2);
    text-decoration:none;
}

a:hover {
    color:var(--green3);
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', helvetica; font-weight:normal; }

h1 {
    border-bottom:1px solid var(--grey);
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

ol {
    line-height:1.5;
}

header {
    padding:10px 100px;
    font-size:14px;
    background:var(--green2);
    color:var(--white);
    border-bottom:4px solid var(--green1);
    overflow:auto;
}

header .logo {
    font-family: 'Muli', helvetica;
    float:left;
    color:var(--citrus);
    font-size:20px;
    margin-right:10%;
}

header ul.menu {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
header ul.menu li {
    float:left;
    padding:4px 10px;
}

header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color:var(--green4);
    font-weight:bold;
}

header a {
    color:var(--citrus);
}
header a:hover {
    color:var(--white);
}

header .user {
    float:right;
    padding-top:4px;
}

footer{
    width:100%;
    bottom:0%;
    /* padding-top:4px; */
    padding:10px 100px;
    font-size:14px;
    background:var(--green2);
    color:var(--white);
    border-bottom:4px solid var(--green1);
    /* overflow:auto; */
}

#content {
    padding:30px 100px;
}

/* forms */
form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:var(--dark_grey);
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
}
input[type=submit], a.button {
    font-weight:bold;
    background:var(--green2);
    color:var(--white);
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
    border-radius:5px;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:var(--white);
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.login-form {
    float:left;
}

