{% load static %}
<! DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <header>
        <span class="logo">Matman</span>

        <nav>
            <ul class="menu">
                <li {% if section == "search" %}class="selected"{% endif %}>
                    <a href="{% url "search" %}">Search</a>
                </li>
                <li {% if section == "home" %}class="selected"{% endif %}>
                    <a href="{% url "home" %}">Home</a>
                </li>
                <li {% if section == "dhcp" %}class="selected"{% endif %}>
                    <a href="{% url "list-material" %}">All Materials</a>
                </li>
                <li {% if section == "dhcp" %}class="selected"{% endif %}>
                    <a href="{% url "add-material" %}">Add Material</a>
                </li>
                <li {% if section == "schemes" %}class="selected"{% endif %}>
                    <a href="{% url "list-schemes" %}">Schemes</a>
                </li>
                <li {% if section == "settings" %}class="selected"{% endif %}>
                    <a href="{% url "profile-settings" %}">Settings</a>
                </li>
            </ul>
        </nav>

        <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }}, <a href="{% url "logout" %}">Logout</a>
            {% else %}
            <a href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">X</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <section>
            <h4>About</h4>
            <p>This software is licensed under the GPLv2. Source code is available at <a href="www.github.com/slarag/matman" target="_blank">Github</a></p>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        const csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            return /^GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        {% block domready %}
        {% endblock %}
    })
    </script>
</body>
</html>