{% load static %}
<! DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for resource_name, resource in resources.items %} {% for css_sheet in resource.css %}
    <!--  css for {{ resource_name }}  -->
    <link href="{{ css_sheet.href }}" rel="stylesheet" crossorigin="anonymous"{% if css_sheet.integrity %} integrity="{{ css_sheet.integrity }}"{% endif %}>
    {% endfor %} {% endfor %}
    <!-- Local css style -->
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block stylesheets %} {% endblock %}
</head>
<body class="d-flex flex-column h-100">
    <header>
        {% include "header.html"  %}
    </header>
    {% include "messages.html"  %}
    <main id="content" class="p-3">
        {% block content %}
        {% endblock %}
    </main>
    {% for resource_name, resource in resources.items %}{% for js in resource.js %}
    <!--  js for {{ resource_name }}  -->
    <script src="{{ js.href }}" crossorigin="anonymous"{% if js.integrity %} integrity="{{ js.integrity }}"{% endif %}></script>
    {% endfor %}{% endfor %}
    {% block scripts %} {% endblock %}
</body>
</html>