        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url "quick-borrow" %}">MatMan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url "quick-borrow" %}" class="nav-link{% if active == 'quick' %} active{% endif %}" aria-current="page">
                    <i class="bi bi-cart2"></i>
                    <span>Borrow/Return</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "list-item" %}" class="nav-link{% if active == 'search' %} active{% endif %}" aria-current="page">
                        <i class="bi bi-search"></i>
                        <spa>Search</spa>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "add-item" %}" class="nav-link{% if active == 'add' %} active{% endif %}" aria-current="page">
                        <i class="bi bi-plus-square"></i>
                        <span>Add Item</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "home" %}" class="nav-link{% if active == 'home' %} active{% endif %}" aria-current="page">
                        <i class="bi bi-house-door"></i>
                        <span>My Page</span>
                    </a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a href="{% url "admin:index" %}" class="nav-link{% if active == 'admin' %} active{% endif %}" aria-current="page">
                    <i class="bi bi-tools"></i>
                    <span>Admin</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person"></i>
                    <spa>Profile</spa>
                  </a>
                  <ul class="dropdown-menu">
                      <li>
                          <a href="{% url "profile-settings" %}" class="dropdown-item{% if active == 'settings' %} active{% endif %}" aria-current="page">
                            Settings
                          </a>
                      </li>
                      <li>
                          <a href="{% url "list-schemes" %}" class="dropdown-item{% if active == 'schemes' %} active{% endif %}" aria-current="page">
                            Schemes
                          </a>
                      </li>
                      {% if request.user.is_authenticated and allow_change_pw %}
                      <li>
                          <a href="{% url "password-change" %}" class="dropdown-item{% if active == 'changepw' %} active{% endif %}" aria-current="page">
                            Change Password
                          </a>
                      </li>
                      {% endif %}
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="{% url "about" %}" class="dropdown-item{% if active == 'about' %} active{% endif %}" aria-current="page">
                            About
                          </a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                    {% if request.user.is_authenticated %}
                      <li><a class="dropdown-item" href="{% url "logout" %}" class="dropdown-item">Logout</a></li>
                    {% else %}
                      <li><a class="dropdown-item" href="{% url "login" %}" class="dropdown-item">Login</a></li>
                    {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>