{% load matman_tags %}
    {% if messages %}
    <div class="p-2">
        {% for message in messages %}
        <div class="alert {{ message.level_tag|alert_class }} alert-dismissible fade show d-flex align-items-center" role="alert">
            <i class="bi {{ message.level_tag|alert_icon }}"></i>
            <div>
                {{ message|safe }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
