{% extends "items/mail/base.html" %}
{% load matman_tags %}

{% block body %}
<p>
    Hello {{ recipient.first_name }},<br>
    <br>
    {% if recipient == editor %}
    You have
    {% else %}
    <a href="https://{{ site.domain }}{% url "profile" editor.username %}" class="link-primary">
        {{ editor.get_full_name }}
    </a>
    has
    {% endif %}
    {% if created %}commented on {% else %}edited a comment on {% endif %}
    <a href="https://{{ site.domain }}{% url "item-detail" item.identifier %}" class="link-primary">
        {{ item.identifier }}
    </a>:
</p>

{{ comment.text|markdown }}

{% endblock %}