{% extends "items/mail/base.html" %}
{% load matman_tags %}

{% block body %}
<p>
    Hello {{ recipient.first_name }},<br>
    <br>
    {% if recipient == editor %}
    You have
    {% else %}
    <a href="https://{{ site.domain }}{% url "profile" editor %}" class="link-primary">
        {{ editor.get_full_name }}
    </a>
    has
    {% endif %}
    just {% if created %}created{% else %}updated{% endif %}
    <a href="https://{{ site.domain }}{% url "item-detail" item.identifier %}" class="link-primary">
        {{ item.identifier }}
    </a>
</p>

<table class="table table-striped table-hover d-inline-flex my-3">
    <tr>
        <th>Serial Number:</th>
        <td>{{ item.serial_number }}</td>
    </tr>
    <tr>
        <th>Item Number:</th>
        <td>{{ item.part_number }}</td>
    </tr>
    <tr>
        <th>Manufacturer:</th>
        <td>{{ item.manufacturer }}</td>
    </tr>
    <tr>
        <th>Location:</th>
        <td>{{ item.location }}</td>
    </tr>
    <tr>
        <th>Owner:</th>
        <td>
            {% if item.owner %}
            <a href="https://{{ site.domain }}{% url "profile" item.owner %}" class="link-primary">{{ item.owner.get_full_name }}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Tags:</th>
        <td>
            {% for tag in item.tags.all %}
            <a href="https://{{ site.domain }}{% url "list-item" %}?tags__name={{ tag }}" class="badge text-bg-light">{{ tag }}</a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Active:</th>
        <td>{% bool_icon item.is_active %}</td>
    </tr>
</table>
{{ item.description|markdown }}

{% endblock %}