{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>SSH Key Details</h1>
<table>
    <tr>
        <th>Name</th>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>{{ object.comment }}</td>
    </tr>
    <tr>
        <th>Expiration Date</th>
        <td>{{ object.expiration_date|date }}</td>
    </tr>
    <tr>
        <th>Date Added</th>
        <td>{{ object.date_added|date }}</td>
    </tr>
    <tr>
        <th>Last Updated</th>
        <td>{{ object.last_updated|date }}</td>
    </tr>
    <tr>
        <th>Public Key</th>
        <td>{{ object.pubkey|wordwrap:50 }}</td>
    </tr>
</table>
<a href="{% url "key-update" object.pk %}">Edit</a>
<a href="{% url "key-delete" object.pk %}">Delete</a>
{% endblock %}