# /etc/caddy/Caddyfile
:443 {
    @static {
        path /static/*
    }
    @media {
        path /media/*
    }
    @daphne {
        path *
        not path /static/*
        not path /media/*
    }
    reverse_proxy @daphne daphne:8000
    file_server @static {
        root PROJECTDIR/files/static/
    }
    file_server @media {
        root PROJECTDIR/files/static/
    }
}